@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-bg: linear-gradient(82.73deg, #92d050 0%, #ed7d31 100%);
}

* {
  box-sizing: border-box;
}



/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}