NEXT_PUBLIC_API_URL=http://api.real-time-chat.test/api/v1NEXT_PUBLIC_URL=http://real-time-chat.testNEXT_PUBLIC_APP_NAME=Real Time ChatNEXT_PUBLIC_APP_DESCRIPTION=Hire skillsNEXT_PUBLIC_REVERB_APP_ID=NEXT_PUBLIC_REVERB_APP_KEY=NEXT_PUBLIC_REVERB_HOST=NEXT_PUBLIC_REVERB_PORT=NEXT_PUBLIC_REVERB_SCHEME=